* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  justify-content: center;
  align-items: center;
  align-content: center;
  max-height: 100vh;
  background: linear-gradient(
    to right,
    #0059ff,
    rgb(0, 123, 255),
    rgb(0, 166, 255)
  );
}
section {
  display: flex;
  flex-direction: column;
  border-bottom: black solid 2px;
  margin: 30px 20px;
}
h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 34));
}
#output {
  background: linear-gradient(to right, rgb(242, 242, 242), rgb(98, 166, 235));

  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  height: 100px;
}

.hotel {
  margin: 12px;
  padding: 10px;
}

.passwordForm {
  margin: 12px;
  padding: 10px;
}

#resultGame {
  display: flex;
  flex-direction: column;
}
